@font-face {
    font-family: "Bebas Neue";
    src: url("/fonts/BebasNeue-Regular.woff2") format("woff2"),
        url("/fonts/BebasNeue-Regular.woff") format("woff");
}

body {
    margin: 0;
    font-family: "Roboto", "Oxygen", "Helvetica Neue", sans-serif;
}

.App {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.logo-type {
  font-family: "Bebas Neue";
  font-size: 26px;
}

.page-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
